In [12]:
import pandas as pd 
import numpy as np

In [13]:
df = pd.read_parquet("banking_data/loans_2018.parquet", engine="fastparquet")
df.head()

,loan_id,customer_id,account_id,loan_type,principal_amount,amount_granted,interest_rate,terms_months,monthly_installment,collateral_description,...,count_req_credit_bureau_day,count_req_credit_bureau_week,count_req_credit_bureau_month,count_req_credit_bureau_quarter,count_req_credit_bureau_year,loan_purpose,application_status,rejection_reason,approval_date,application_date
0,BR20180107553,COM18000001,ACC0040496,Business Loan,11484131.05,5785725.04,15.58,36,202211.26,Accounts Receivable,...,8,26,58,174,152,Equipment,Rejected,High debt-to-income ratio,NaT,2017-07-05 19:38:34.797372
1,LN2018143375,SUB-COM18000002-4,ACC0040497,Business Loan,510846.83,332773.78,10.57,48,8531.39,Equipment,...,2,3,6,18,9,Working Capital,Rejected,High debt-to-income ratio,NaT,2016-01-29 15:48:26.930209
2,DL-2018-000003,COM18000003,ACC0040495,Business Loan,25105909.31,14827753.11,11.50,48,386841.38,None,...,4,11,10,30,21,Expansion,Rejected,High debt-to-income ratio,NaT,2017-10-11 10:54:49.975166
3,DL-2018-000004,SUB-COM18000004-4,ACC0040494,Business Loan,5009889.88,3711144.99,10.00,48,94124.22,Accounts Receivable,...,3,7,8,24,28,Equipment,Approved,None,2017-06-28 22:52:19.185003,2017-06-08 22:52:19.185003
4,LN2018954528,IND18000003,ACC0013959,Personal Loan,1008.93,690.57,19.00,12,63.64,None,...,9,23,60,180,149,Medical,Approved,None,2016-05-16 15:36:52.994728,2016-05-04 15:36:52.994728